* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.wrap-header {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.wrap-header ul {
    margin: 0;
}

.wrap-header ul:first-child {
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 1fr 2.5fr 1.5fr;
    padding: 0;
    text-align: center;
    align-items: center;
}

.wrap-header ul:nth-child(2) {
    display: flex;
    color: #000;
    align-items: center;
    list-style: none;
}

.wrap-header ul:nth-child(2) li {
    margin-left: 20px;
    display: inline-block;
}


}
.wrap-header ul a {
    text-decoration: none;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 0;
}
.banner {
    background-image: url(./images/Rectangle.jpg);
    background-size: cover;
    height: 100%;
    color: #fff;
}
.wrap-banner {
    text-align: center;
}
.wrap-banner .content {
    padding-top: 215px;
    max-width: 740px;
    margin: auto;
}
.wrap-banner .content button {
    background: #4DCEFD;
    border-radius: 100px;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 18px;
    line-height: 160%;
    margin: 0 auto 254px;
    /* identical to box height, or 29px */
}
.wrap-banner .content p {
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
}
.wrap-info-SSKPI {
    background: #EEF2F6;
    text-align: center;
    display: grid;
}
.wrap-info-SSKPI h2 {
    margin: 110px 0 78px 0;
    font-weight: bold;
    font-size: 36px;
    color: #3E3E94;
}
.info-SSKPI .list-info-SSKPI {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 60px;
    grid-gap: 30px;
}
.list-info-SSKPI .small-info {
    color: #000;
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 169px;
    line-height: 28px;
}
.list-info-SSKPI .small-info img {
    padding-top: 50px;
}
.list-info-SSKPI .small-info h4 {
    font-size: 18px;
}
.list-info-SSKPI .small-info p {
    font-size: 16px;
    padding: 0 10px 20px;
}
.list-info-SSKPI .small-info:hover {
    background-image: url(./images/nen.png);
    width: 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.img-SSKPI {
    background: url(christin-hume-hBuwVLcYTnA-unsplash.jpg), #37393F;
    display: grid;
}
.event-img-SSKPI {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    margin-bottom: 58px;
}
.wrap-img-SSKPI>h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 60px 0 50px;
    color: #FFFFFF;
}
.event-img-SSKPI img {
    max-width: 360px;
    padding: 5px 0;
}
.S-people {
    background-image: url(./images/Rectangle\ 4.png);
    display: grid;
}
.wrap-S-people h2 {
    padding: 60px 0 20px;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.wrap-S-people p,
span {
    font-size: 16px;
    line-height: 150%;
    color: #72A4D1;
}
.people {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.people .wrap-info-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: auto;
    grid-gap: 30px;
}
.info-people {
    max-width: 200px;
}
.info-people img {
    max-width: 145px;
}
.info-people h4 {
    margin: 0;
}
.img-people {
    display: grid;
    grid-template-columns: 1fr;
}
.slogan-people {
    display: grid;
    grid-template-columns: 1fr;
}
.slogan {
    display: block;
    max-width: 500px;
}
.slogan p {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    margin-top: 200px;
}
.slogan span {
    font-size: 18px;
    color: #fff;
}
.slogan span:last-of-type {
    color: #FFFFFF;
    font-size: 13px;
    opacity: 0.5;
}
.slogan-people .img {
    display: block;
}
.slogan-people .img img {
    max-width: 50px;
}
.hobby {
    display: grid;
    color: #000;
}
.wrap-hobby h2 {
    margin: 55px 0 40px;
}
.list-job {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px;
}
.list-job .job {
    max-width: 240px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}
.list-job .job p {
    font-size: 18px;
    line-height: 32px;
    max-width: 200px;
    text-align: center;
    color: #0E0E39;
}
.wrap-hobby h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    /* primary/blueberry */
    
    color: #3E3E94;
}
.job {
    grid-gap: 30px;
}
.job img {
    padding-top: 35px;
}
.job button {
    margin-bottom: 30px;
    padding: 10px 20px;
    background: #4DCEFD;
    border-radius: 100px;
    color: #fff;
}
.form {
    background: url(./images/Rectangle\ 2\ \(1\).png) no-repeat;
    text-align: center;
}
.wrap-form h2 {
    padding: 80px 0 0px;
}
.wrap-form p {
    margin-top: 12px;
    position: relative;
}
.wrap-form {
    text-align: center;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1040px;
    background: #EEF2F6;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.input-form {
    text-align: center;
    display: grid;
    padding: 20px 0;
}
.input-form input {
    max-width: 476px;
    background: #FFFFFF;
    padding: 14px 145px 15px 20px;
    border: 1px solid #BFBFCC;
    border-radius: 8px;
    margin: 20px 40px 0;
}
.submit-form {
    text-align: left;
    margin-top: 40px;
}
.submit-form label {
    font-size: 18px;
    line-height: 160%;
    color: #333333;
}
.submit-form input {
    border: 1px solid rgba(24, 26, 24, 0.05);
    border-radius: 30px;
    padding: 10px 20px;
    color: #000;
    overflow: visible;
    margin-top: 20px;
    border: none;
}
::-webkit-file-upload-button {
    background-color: white;
    padding: 9px 30px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: normal;
    color: #5F5F70;
    margin: 15px 0;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(87, 87, 87, 0.2);
    outline: none;
}
.submit-form p {
    font-size: 14px;
    color: #BFBFCC;
}
.submit-form input:hover {
    color: #000;
    border: none;
}

/* .white{
    background: red;
    height: 300px;
} */
footer {
    background: #0E0E39;
}
.row-footer {
    border-top: 1px solid #ccc;
}
.logo-footer {
    padding-top: 40px;
}
.col-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
}
.content-footer {
    display: grid;
    grid-template-columns: 12px 1fr;
    grid-gap: 10px;
}
.contact-footer {
    display: grid;
    grid-templ
}
.title-IHR {
    margin-top: 0px;
}
.row-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.social-media-footer h3 {
    padding-top: 20px;
}
.row-contact-footer ul {
    padding: 0;
    list-style: none;
}
.row-contact-footer ul li {
    padding: 5px 0;
}
.row-contact-footer ul a {
    text-decoration: none;
    color: #4dcefd;
    font-size: 16px;
}
.icon-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box-media {
    background: #090a26;
    border-radius: 5px;
    padding: 10px;
    max-width: 130px;
}
.box-media span {
    margin-left: 5px;
}
576 768 992 1200